.jumbotronone {/*Formats an image for the home-page jumbotron*/
    Background-image: url('../images/home_jumbotron.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #FFF;
  }
#botomPara{
  padding-bottom: 1em;
}