#showInfo{
    font-size:1.875em;
    padding-left: 5em;
    padding-top: 0.9em;
}
#showSummary{font-size:1.875em;}

.summary{
    font-size:1.875em;
    padding-top: 0.9em;
    margin-bottom: -10px;
  }
#showDesc{font-size: max(1.6em, 13px);}