//_________________________________________________________________________________________
//Miscelanious classes
.footer{
    padding-top:0.3em;
    padding-bottom:1.05em;
    border: 2px solid black;
    margin-top: auto;
  }

//_________________________________________________________________________________________//
//Specific use / misceelanious IDs*/
  .navbar{height: 1.25em;}

.breadcrumb{/*Sets the color of the breadcrumb bar*/
    margin-bottom: 0 !important;
    height: 1.5625em !important;
    background-color:#0818A8 !important;
}
